{% extends 'core\homeBase.html' %}
{% load static %}

{% block content%}


            
  
        
<section id="contentSection">
            <div class="container">
              <h2 style="color:Tomato";>About GMIT:-</h2>
                     
              <img src="{% static 'images/about1.jpg' %}" class="img-rounded" alt="Cinque Terre" width="804" height="436"> 
              <br>
              <br>
              <p>Gargi Memorial Institute of Technology (GMIT), an engineering institute in West Bengal was started in 2011 by Mallabhum Human Resource Development Trust (MHRDT) in memory of Lt. Gargi Mukherjee (Banerjee).
                
                <br>
                Barely in its 5th year, GMIT has been ranked 8th amongst all emerging engineering colleges in India because of its educational excellence and professional infrastructural facilities.
                
              <br>
                At GMIT, we always believed that an educational institution is only good for its faculty. That’s why we have gone out of our way to pick top – draw faculty for each of our departments, including former professors of IIT, foreign University, and Jadavpur University. GMIT currently offers courses in five disciplines namely Civil Engineering (CE), Computer Science and Engineering (CSE), Electrical Engineering (EE), Mechanical Engineering (ME) and Electronics and Communication Engineering (ECE). GMIT is approved by All India Council of Technical Education (AICTE) and affiliated to Maulana Abul Kalam Azad University of Technology (MAKAUT), previously known as West Bengal University of Technology (WBUT).
                
                <br>
                The physical design of the campus consisting of landscape, gardens and horizontal architecture blends organically into its surroundings. GMIT has already roped in international collaboration to facilitate in-class real time learning using advanced technology along with exposure to global trends in industries.
                
              <br>
                The Institute is located on the southern fringe of Kolkata, at Baruipur, an upcoming satellite town and caters to students from reputed schools of India
                
              <br>
              <p>
            </div>
            <div class="container">
               
               <div class = "container-bottom-left">
                <div class="row">
                  <div class="col-md-6">
                    <div class="thumbnail">
                      <a href="{% static 'about2.jpg' %}" target="_blank">
                        <img src="{% static 'images/about2.jpg' %}" alt="Lights" style="width:100%",>
                        <div class="caption">
                            <h3>Founder Chairman Late Shri Dhurjoti Banerjee</h3>
                        
                           <p> May your soul rest in peace, may we follow your footsteps to build GMIT as one of the pioneer institutes of the country. We take the challenge to be the best with the courage you have given, we always remember you in every crisis and in every joy, and you are immortal in our heart.</p>
                            
                           
                        </div>
                      </a>
                    </div>
                  </div>
                  </div>

                  <div class="col-md-6">
                    <div class="thumbnail">
                      <a href="{% static 'about3.jpg' %}" target="_blank">
                        <img src="{% static 'images/about3.jpg' %}" alt="Nature" style="width:100%">
                        <div class="caption">
                            <h3>Late Smt. Gargi Mukherjee
                            </h3>
                            <p>Late Gargi Mukherjee (Banerjee), a former trustee of MHRDT had dreamt of starting an Engineering Institute that would approach technical education from a refreshingly new perspective. With her own illustrious academic background (Civil Engineer – Bengal Engineering College), she has understood the special needs of engineering students in the state and had hoped to start an engineering institute that would address those needs and offer technical education of a significantly high quality. GMIT, constantly strive to live up to the dream of this gifted lady, who had originally envisioned the institute.</p>
                            
                         
                        </div>
                      </a>
                    </div>
                  </div>
                  
                </div>
              </div>
            

        
              {% endblock content %}
   