  {% extends 'core\homeBase.html' %}
{% load static %}

{% block content%}
                
  
      <h1 style="color:rgba(3, 22, 1, 0.877)"><b>BLOOD DONATION CAMP:-</b></h1>
      <body style="background-color:rgba(44, 21, 145, 0.322)">
      <img src="{% static 'images/b111.jpg' %}">
      <div class="hero-image">
        <div class="hero-text">
				<!-- Examples of block-level elements:
				<div>
				<h1> - <h6>
				<p>
				<form> 
				<span>
				<a>
				<img>
				-->
</div>
</div>

<h2><span style="font-size:50px,color:rgb(3, 4, 49)">
  
  Blood is something we human beings haven’t been able to recreate. The only way to save lives thus is to donate. Incidentally, India falls short of 2 million units of blood every year, which could save more than 3.5 lakh lives.
  Keeping this in mind, GMIT in association with Peoples Blood Bank organised a blood donation camp to commemorate the 4th death anniversary, of Shri Dhurjoti Banerjee,  its founding chairman, an educationist, entrepreneur and visionary in all aspects.
  Esteemed guests who were present were Ms. Debarati Sarkar (SDO), Mr. Abhishek Majumdar (SDPO) and Baruipur police station IC Mr. Jayanta Bhadra.
  Total of 135 units of blood was collected as students and faculty wholeheartedly participated in the event.


<br>
<br>

{% endblock content %}