{% extends 'core\homeBase.html' %}
{% load static %}

{% block content%}

        
            
            <div class="container">
              <h2 style="color:Tomato";>Career Development Cell:-</h2>
                     
              <img src="{% static 'images/cdc.jpg' %}" class="img-rounded" alt="Cinque Terre" width="704" height="536"> 
            </div>
            <div class="container">
                <h2 style="color:Tomato";>Member of Career Development Cell:-</h2>
               <div class = "container-bottom-left">
                <div class="row">
                  <div class="col-md-3" style="background-color:pink;">
                    <div class="thumbnail">
                      <a href="{% static 'images/cdc1.jpg' %}" target="_blank">
                        <img src="{% static 'images/cdc1.jpg' %}" alt="Lights" style="width:100%">
                        <div class="caption">
                          <h3>Professor G. L. Datta</h3>
                           <p> B Tech(Hons) (IIT Kgp), M Tech(IIT Kgp), Ph D(IIT Kgp), FIE(I), FIIW, FIIF, MMRSI, MISTE, MICS, CE(I)
                            Former: Dean (1994-’97) Cont Edu, IIT KGP</p>
                            
                            <h5>Solid base of fundamental science & technology is what I believe ensures a great career as an engineer. Our academic environment ensures such progressive students.</h5>
                        </div>
                      </a>
                    </div>
                  </div>
                  </div>
                
                  <div class = "container-bottom-right">
                  <div class="col-md-3" style="background-color:yellow;">
                    <div class="thumbnail">
                      <a href="{% static 'images/cdc2.jpg' %}" target="_blank">
                        <img src="{% static 'images/cdc2.jpg' %}" alt="Nature" style="width:100%">
                        <div class="caption">
                            <h3>Bodhisattva Banerjee</h3>
                            <p>B.E., MBA (Germany), Country Head, BASSETTI India; Vice Chairman of Central Placement Cell, MAKAUT (formerly WBUT); Member of BCCI, CII, IGCC, TIE (Charters Member), NASSCOM</p>
                            
                           <h5>Knowing fully well that “industry hires for attitude and trains for skills”, our students are honed accordingly with right guidance to develop correct attitude and are prepared to imbibe new skills quickly.</h5>
                        </div>
                      </a>
                    </div>
                  </div>
                  </div>
                  <div class="col-md-3" style="background-color:powderblue;">
                    <div class="thumbnail">
                      <a href="{% static 'images/cdc3.jpg' %}" target="_blank">
                        <img src="{% static 'images/cdc3.jpg' %}" alt="Fjords" style="width:100%">
                        <div class="caption">
                          <h3>Debajyoti Ghosh</h3>
                           <p>M.E. (Electrical- Jadavpur University) Assistant Convenor, CDC & Assistant Professor of Department of Electrical Engineering, GMIT</p>
                            
                           <h5>Our robust assessments & subsequent correcting exercises ensure to handpick our students for perfect fitment in necessary job profiles & industrial verticals.</h5>
                        </div>
                      </a>
                    </div>                   
                  </div>
                  <div class="col-md-3" style="background-color:red;">
                    <div class="thumbnail">
                      <a href="{% static 'images/cdc4.jpg' %}" target="_blank">
                        <img src="{% static 'images/cdc4.jpg' %}" alt="Fjords" style="width:100%">
                        <div class="caption">
                          <h3>Soumoyjit Paul</h3>
                         <p> Twelve years served in Educational Industry having rich experience in training, skill development and corporate affairs nationally. Previously worked with Hewlett Packard India and Globsyn Group.</p>

                         <h5> It gives us an immense pleasure to extend to you a most cordial invitation to participate in the Campus Recruitment Programme in GMIT. With an increase thrust on Institute-Industry Interaction, it is my sincere belief that your esteemed organization and GMIT will get along a symbolic relationship.</h5>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
             </div>
             
      {% endblock content %}  
   