{% extends 'core\homeBase.html' %}
{% load static %}

{% block content%}

        <section class = "banner">
            <div class = "banner-main-content">
                <h2> GMIT NEWS</h2>
                <h3>World's Leading Gmit News Portal</h3>

                <button>
                    <a href = "#">Know More</a>
                </button>

                <div class = "current-news-head">
                    <h3>Lets know about the Electronics And Communication Engineering</h3>

                    <h3>Lets know about the Computer science and  Engineering</h3>

                    <h3>Lets know about the Mechanical  Engineering</h3>
                    <h3>Lets know about the Electrical Engineering</h3>
                </div>
            </div>

            <div class = "banner-sub-content">
                <div class = "hot-topic">
                    <img src = "{% static 'images/banner-news-1.jpg' %}" alt = "">

                    <div class = "hot-topic-content">
                        <h2>Started with Electronics And Communication Engineering</h2>

                        
                        <p ">Electronics is a subfield within the wider electrical engineering academic subject but denotes a broad engineering field that covers subfields such as analog electronics, digital electronics, consumer electronics, embedded systems and power electronics...</p>
                        <a href = "ece/">Read More</a>
                    </div>
                </div>

                <div class = "hot-topic">
                    <img src = "{% static 'images/banner-news-2.jpg' %}" alt = "">

                    <div class = "hot-topic-content">
                        <h2>Computer Science And Engineering</h2>

                        
                        <p>Computer Science & Engineering (CSE) is an academic program at many universities which comprises scientific and engineering aspects of computing. CSE is also a term often used in Europe to translate the name of engineering informatics academic programs...</p>
                        <a href = "cse/">Read More</a>
                    </div>
                </div>

                <div class = "hot-topic">
                    <img src = "{% static 'images/banner-news-3.jpg' %}" alt = "">

                    <div class = "hot-topic-content">
                        <h2>Electrical Engineering</h2>

                        
                        <p>Electrical engineering is an engineering discipline concerned with the study, design and application of equipment, devices and systems which use electricity, electronics, and electromagnetism.</p>
                        <a href = "ee/">Read More</a>
                    </div>
                </div>

                <div class = "hot-topic">
                    <img src = "{% static 'images/banner-news-4.jpg' %}" alt = "">

                    <div class = "hot-topic-content">
                        <h2>Mechanical Engineering</h2>

                        
                        <p>Mechanical engineering is an engineering branch that combines engineering physics and mathematics principles with materials science to design, analyze, manufacture, and maintain mechanical systems. ... It is the branch of engineering that involves the design, production, and operation of machinery...</p>
                        <a href = "me/">Read More</a>
                    </div>
                </div>
            </div>
        </section>
        
        <hr>

        <main>
            <section class = "main-container-left">
                <h2 style="background-color:tomato;">Civil Engineering</h2>
                <div class = "container-top-left">
                    <article>
                        <img src = "{% static 'images/ce11.jpg' %}">

                        <div>
                          <p>Civil engineering has a history as long as civilization itself. Civil engineers in their multifaceted roles are problem solver who utilizes sophisticated and cutting edge technologies to obtain realistic and economic solutions to the challenges encountered by society.</p>  

                            
                        <a href = "ce/">Read More <span>>></span></a>
                            
                        </div>
                    </article>
                </div>

                <div class = "container-bottom-left">
                    <article>
                        <img src = "{% static 'images/bottom-left-1.jpg' %}">
                        <div>
                            <h3>Tree Plantation Programme in GMIT</h3>
                            <p>Tree Plantation programme was held in our college campus on 24th Aug 2018 at 11:00 AM. The students of 1st year students actively participated in the programme. Principal, Dept HOD's, faculty, students are plant saplings in our college premises.</p>

                            <a href = "tree/">Read More <span>>></span></a>
                        </div>
                    </article>

                    <article>
                        <img src = "{% static 'images/bottom-left-2.jpg' %}">
                        <div>
                            <h3>Times Knowladge Icon Award</h3>
                            <p>“Times Education Icon Award” to GMIT Collage by Times of India Group. Recognition for our Efforts in Innovative, Modern & Value Education in the field of Engineering.</p>

                            <a href = "times/">Read More <span>>></span></a>
                        </div>
                    </article>
                </div>
            </section>

            <section class = "main-container-right">
                <h2 style="background-color:RosyBrown;">Latest News</h2>
                
                <article>
                    <h4>just in </h4>
                    <div>
                        <h2>Blood Donation Camp Organised In GMIT Campus</h2>

                        <p>At GMIT College premises, All Department students organised a blood donation camp.  students have donated blood in the camp, of which more than 20 students donated blood for the first time, which is very remarkable.</p>

                        <a href = "blood/">Read More <span>>></span></a>
                    </div>
                    <img src = "{% static 'images/right-1.jpg' %}">
                </article>

                <article>
                    <h4>just in </h4>
                    <div>
                        <h2>Annual Fest In Collage Campus</h2>

                        <p>Annual College Fest is an exciting much-awaited programme/event organized by the students and for the students.</p>

                        <a href = "annualfest/">Read More <span>>></span></a>
                    </div>
                    <img src = "{% static 'images/right-2.jpg' %}">
                </article>

                <article>
                    <h4>just in </h4>
                    <div>
                        <h2>Leadership Event In Collage</h2>

                        <p>GMIT Collage organised a  Leadership event purpose-student leadership development to college </p>

                        <a href = "leader/">Read More <span>>></span></a>
                    </div>
                    <img src = "{% static 'images/right-3.jpg' %}">
                </article>

                <article>
                    <h4>just in </h4>
                    <div>
                        <h2>DKB Memorial cup</h2>

                        <p>DKB memorial cup held in GMIT Collage ground </p>

                        <a href = "dkb/">Read More <span>>></span></a>
                    </div>
                    <img src = "{% static 'images/right-4.jpg' %}">
                </article>

                <article>
                    <h4>just in </h4>
                    <div>
                        <h2>Guest Lecture</h2>

                        <p>Guest Lecture Organised in college Auditorium</p>

                        <a href = "guest/">Read More <span>>></span></a>
                    </div>
                    <img src = "{% static 'images/right-5.jpg' %}">
                </article>
            </section>
        </main>
        {% endblock content %}

       