{% extends 'core\homeBase.html' %}
{% load static %}

{% block content%}
        <h2 style="color:Tomato";>Inauguration of DKB Memorial Cup 2020
        </h2>
        <br>
        <br>
        <p>Association football, more commonly known as simply football or soccer,is a team sport played with a spherical ball between two teams of 11 players. It is played by approximately 250 million players in over 200 countries and dependencies, making it the world's most popular sport. The game is played on a rectangular field called a pitch with a goal at each end. The object of the game is to score more goals than the opposition by moving the ball beyond the goal line into the opposing goal, usually within a time frame of 90 or more minutes.
            <br>

            Football is played in accordance with a set of rules known as the Laws of the Game. The ball is 68–70 cm (27–28 in) in circumference and known as the football. The two teams compete to get the ball into the other team's goal (between the posts and under the bar), thereby scoring a goal. Players are not allowed to touch the ball with hands or arms while it is in play, except for the goalkeepers within the penalty area. Players may use any other part of their body to strike or pass the ball, and mainly use their feet. The team that scores more goals at the end of the game is the winner; if both teams have scored an equal number of goals, either a draw is declared or the game goes into extra time or a penalty shootout, depending on the format of the competition. Each team is led by a captain who has only one official responsibility as mandated by the Laws of the Game: to represent their team in the coin toss prior to kick-off or penalty kicks.
            
            </p>
            <div class="container">
               
               
              <div class = "container-bottom-left">
                <div class="row">
                  <div class="col-md-3">
                    <div class="thumbnail">
                      <a href="{% static 'images/s1.jpg' %}" target="_blank">
                        <img src="{% static 'images/s1.jpg' %}" alt="Lights" style="width:100%">
                        <div class="caption">                                            
                        </div>
                      </a>
                    </div>
                  </div>
                  </div>
                  <div class="col-md-3">
                    <div class="thumbnail">
                      <a href="{% static 'images/s2.jpg' %}" target="_blank">
                        <img src="{% static 'images/s2.jpg' %}" alt="Nature" style="width:100%">
                        <div class="caption">
                        
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="thumbnail">
                      <a href="{% static 'images/s3.jpg' %}" target="_blank">
                        <img src="{% static 'images/s3.jpg' %}" alt="Nature" style="width:100%">
                        <div class="caption">
                          
                            
                         
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="thumbnail">
                      <a href="{% static 'images/s4.jpg' %}" target="_blank">
                        <img src="{% static 'images/s4.jpg' %}" alt="Nature" style="width:100%">
                        <div class="caption">
                          
                            
                            
                         
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="thumbnail">
                      <a href="{% static 'images/s5.jpg' %}" target="_blank">
                        <img src="{% static 'images/s5.jpg' %}" alt="Nature" style="width:100%">
                        <div class="caption">
                          
                           
                            
                         
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="thumbnail">
                      <a href="{% static 'images/s6.jpg' %}" target="_blank">
                        <img src="{% static 'images/s6.jpg' %}" alt="Nature" style="width:100%">
                        <div class="caption">
                         
                            
                            
                         
                        </div>
                      </a>
                    </div>
                  </div>
                    <div class="col-md-3">
                    <div class="thumbnail">
                      <a href="{% static 'images/s7.jpg' %}" target="_blank">
                        <img src="{% static 'images/s7.jpg' %}" alt="Nature" style="width:100%">
                        <div class="caption">
                          
                            
                         
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="thumbnail">
                      <a href="{% static 'images/s8.jpg' %}" target="_blank">
                        <img src="{% static 'images/s8.jpg' %}" alt="Nature" style="width:100%">
                        <div class="caption">
                                                                                                       
                        </div>
                      </a>
                    </div>
                  </div>
                  
                </div>
              </div>
            {% endblock content %}  
        